 /* Global Layout Set-up */
 * {
     box-sizing: border-box;

 }

 body {
     margin: 0;
     padding: 0;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     color: #222;
     background: #f7f5f0;
 }

 header {
     width: 700px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 main {
     display: flex;
     flex-wrap: wrap;
 }

 img {
     margin-top: 25px;
     width: 300px;
     height: 300px;
     border-radius: 50%;
     border: 3px solid white;
     transition: all .5s;
 }

 article {
     flex: 1;
     margin: 80px 50px;
     padding: 20px 40px 40px;
     max-width: 500px;
     text-align: left;
     background: #fff;
     border-bottom: 4px solid #ccc;
     border-radius: 6px;
     transition: all .5s;
     justify-content: space-between;
 }

 article:hover {
     border-color: #0d72ba;
 }

 footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #f2f2f2;
     color: #333;
     text-align: center;
     padding: 10px;
 }

 /* Article containers */

 .left {
     float: left;
 }

 .right {
     float: right;
 }

 .clear {
    clear: both;
  }

  .clear li {
    margin-bottom: 10px;
  }